#mediaContainer {
	/*padding: 0px;
	width: auto; 
	height: 100%;
	overflow: visible;*/
	position: relative;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	
}

/* reference menu panel styles */
#reference-panel .ui-listview .ui-li-static {
    padding-left: -0.5em !important;
    /*text-indent: -0.5em !important;*/
	font-size: 0.75em !important;
	font-weight: 400 !important;
	white-space: normal !important;
}
#reference-panel .ui-listview li.ui-li-static span {
    display: block;
}