/*triage form header element*/
.ui-bar-triage {
    background-color: #E9E9E9;
    border: 0;
    border-bottom: 2px solid #373737;
}

.ui-body-triage {
    background-color: #fff;
}

.ui-heading-triage {
    color: #fff;
    text-transform: uppercase; 
    font-weight: 600;
}

.ui-table-triage {
    background-color: #fff;
    border: 1px solid #666;
    width: 50;
}

.ui-input-text {
    background-color: #fff !important;
    border: 1px solid #E9E9E9 !important;
}

.ui-btn-container-triage { 
    /*position: fixed;*/
    bottom: 0%;
    width: 98%;
    text-align: center;
}