<div class="ui-block-a">
    <div class="ui-bar ui-bar-a ui-nodisc-icon" style="height:60px">
        <a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-home ui-btn-icon-notext ui-btn-b ui-btn-inline">Index</a>
    </div>            
</div>
<div class="ui-block-a">
    <div class="ui-bar ui-bar-a ui-nodisc-icon" style="height:60px">
        <a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext ui-btn-b ui-btn-inline">Index</a>
    </div>            
</div>
<div class="ui-block-a">
    <div class="ui-bar ui-bar-a ui-nodisc-icon" style="height:60px">
         <a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-tag ui-btn-icon-notext ui-btn-b ui-btn-inline">Bookmarks</a>
    </div>            
</div>
<div class="ui-block-a">
    <div class="ui-bar ui-bar-a ui-nodisc-icon" style="height:60px">
         <a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-star ui-btn-icon-notext ui-btn-b ui-btn-inline">Bookmarks</a>
    </div>            
</div>
<div class="ui-block-a">
    <div class="ui-bar ui-bar-a ui-nodisc-icon" style="height:60px">
        <a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-gear ui-btn-icon-notext ui-btn-b ui-btn-inline">Settings</a>
    </div>            
</div>
<div class="ui-block-a">
    <div class="ui-bar ui-bar-a ui-nodisc-icon" style="height:60px">
        <a href="#register-panel" data-rel="popup" data-position-to="window" class="ui-btn ui-shadow ui-corner-all ui-icon-user ui-btn-icon-notext ui-btn-b ui-btn-inline" data-transition="pop">Register</a>
    </div>            
</div>



<!--<div id="settings-panel" data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
    <h4>Settings</h4>
    <div class="ui-field-contain">
        <input name="txtName" id="txtName" placeholder="User name" value="" data-mini="true" type="text">
        <input name="txtEmail" id="txtEmail" placeholder="Email address" value="" data-mini="true" type="text">
        <input name="txtKey" id="txtKey" placeholder="API key" value="" data-mini="true" type="text">
    </div>
    <div class="ui-field-contain">
        <label for="flip-checkbox-1">Push content:</label>
        <input data-role="flipswitch" name="flip-checkbox-1" id="flip-checkbox-1" type="checkbox" data-mini="true">
    </div>
    <div class="ui-field-contain">
        <label for="flip-checkbox-22">Send errors:</label>
        <input data-role="flipswitch" name="flip-checkbox-2" id="flip-checkbox-2" type="checkbox" data-mini="true">
    </div>
</div>

<div id="usage-panel" data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
    <h4>Usage</h4>
    <p>This is where the usage graph will be displayed</p>
</div>

<div id="trace-panel" data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
    <h4>Trace log</h4>
    <ul data-role="listview" data-inset="false">
        <li>Read-only list item 1</li>
        <li>Read-only list item 2</li>
        <li>Read-only list item 3</li>
    </ul>
</div>-->