<div data-role="collapsible" data-inset="false" data-collapsed="false" data-iconpos="left">
    <div class="ui-corner-all custom-corners">
        <div class="ui-bar ui-bar-b" style="margin-top: 1.25em; margin-bottom: 0.24em;">
            <form class="ui-filterable">
                <div data-role="controlgroup" data-type="horizontal" data-mini="true">
                    <div data-role="popup" id="searchOptionsPop" data-theme="b">
                        <ul data-role="listview" data-inset="true" style="min-width:210px;">
                            <li data-role="list-divider">Search in...</li>
                            <li><a href="#">Contents</a></li>
                            <li><a href="#">Index</a></li>
                            <li><a href="#">Bookmarks</a></li>
                        </ul>
                    </div>
                    <a id="toggleSearchBtn" href="#" data-rel="popup" data-transition="pop" class="ui-btn ui-corner-all ui-btn-inline ui-icon-search ui-btn-icon-left ui-nodisc-icon" >&nbsp;</a>
                    <input id="index-autocomplete-input" data-type="text" placeholder="Table of contents" data-wrapper-class="controlgroup-textinput ui-btn"  data-mini="true" />
                </div>
            </form>
        </div>
    </div>
</div>