<div data-url="panel-responsive-page1" data-role="page" class="ui-responsive-panel" id="panel-responsive-page1" data-title="Panel responsive page">
    <!-- generic popup -->
    <div id="modal-panel" data-role="popup" class="ui-corner-all" data-theme="a" data-dismissible="false" data-history="false">
    </div><!-- /generic popup -->

    <!-- header -->
    <div data-role="header" data-position="fixed" data-theme="b" data-backbtn="false" id="header-panel">
    </div><!-- /header -->
    
    <!-- content -->
    <div role="main" class="ui-content jqm-content jqm-fullwidth" id="content-panel">
    </div><!-- /content -->
    
    <!-- nav panel -->
    <div id="nav-panel" data-role="panel" data-display="push" data-dismissible="false">
    </div><!-- /nav panel -->

    <!-- webview panel -->
    <div id="webview-panel" data-role="panel" data-display="overlay" data-position="right">
    </div><!-- /webview panel -->
	
	<!-- reference panel -->
    <div id="reference-panel" data-role="panel" data-display="reveal" data-position="right" data-swipe-close="false" data-dismissible="false">
    </div><!-- /reference panel -->

    <!-- error -->
    <div id="error-panel" data-role="popup" data-theme="a" data-overlay-theme="b" data-corners="false" data-transition="none" data-history="false">
        <div style="text-align: center;">
            <img src="images/error-icon-7.png" />
        </div>
    </div><!-- /error -->
    
    <!-- generic popup
    <div id="modal-panel" data-role="popup" class="ui-corner-all" data-overlay-theme="b" data-theme="a" data-dismissible="false" style="min-width: 460px; max-width: 460px; ">
    </div> /generic popup -->
    
    <!-- settings popup -->
    <div id="settings-panel" data-role="popup" class="ui-corner-all" data-overlay-theme="b" data-theme="a" style="max-width: 460px;">
    </div><!-- /settings popup -->
    
    <!-- bookmark popup -->
    <div id="bookmark-panel" data-role="popup" class="ui-corner-all" data-overlay-theme="b" data-theme="a" style="min-width: 460px; max-width: 460px;">
    </div><!-- /bookmark popup -->
    
    <!-- global popup -->
    <div id="globalImagePopup" data-role="popup" data-theme="a" data-overlay-theme="b" data-corners="false" data-transition="none" data-history="false">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <section>
            <div class="parent">
                <div class="panzoom">
                    <img id="globalImage" class="popphoto" src="#" data-elem="pinchzoomer" />
                </div>
            </div>
        </section>
    </div>

    <!-- footer panel -->
    <div id="footer-panel" data-role="footer" data-position="fixed">        		
	</div><!-- /footer -->
</div>