<div class="ui-corner-all custom-corners">
    <div class="ui-bar ui-bar-a ui-bar-triage">
        <h3>Syndromatic: Very urgent</h3>
    </div>
    <div class="ui-body ui-body-a">
        <form id="triageForm2" name="triage1Form2" style="clear: both;">
            <div class="ui-field-contain">
                <fieldset class="ui-controlgroup ui-controlgroup-vertical ui-corner-all" data-role="controlgroup">
                    <div class="ui-controlgroup-label" role="heading">
                        <legend>Presentation</legend>
                    </div>
                    <div class="ui-controlgroup-controls ">
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label for="radio-choice-5" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on ui-first-child">Shortness of breath: acute</label>
                            <input type="radio" value="5" id="radio-choice-5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label for="radio-choice-6" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on ui-first-child">Coughing blood</label>
                            <input id="radio-choice-6" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-7">Chest pains</label>
                            <input id="radio-choice-7" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-8">Haemorrage: uncontrolled</label>
                            <input id="radio-choice-8" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-9">Seizure: postictal</label>
                            <input id="radio-choice-9" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-10">Focal neurology: acute</label>
                            <input id="radio-choice-10" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>                        
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-11">Level of consciousness: reduced</label>
                            <input id="radio-choice-11" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>                        
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-12">Psychosis: aggression</label>
                            <input id="radio-choice-12" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-13">Threatened limb</label>
                            <input id="radio-choice-13" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-14">Dislocation: other joint</label>
                            <input id="radio-choice-14" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-15">Fracture: compound</label>
                            <input id="radio-choice-15" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-16">Burn: >20%</label>
                            <input id="radio-choice-16" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-17">Burn: electrical</label>
                            <input id="radio-choice-17" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-18">Burn: circumferential</label>
                            <input id="radio-choice-18" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-19">Burn: chemical</label>
                            <input id="radio-choice-19" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-20">Poisoning / overdose</label>
                            <input id="radio-choice-20" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-21">Diabetic: glucose < 11 mmol/l and ketonuria</label>
                            <input id="radio-choice-21" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-22">Vomiting: fresh blood</label>
                            <input id="radio-choice-22" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off" for="radio-choice-23">Pregnancy and abdominal trauma or pain</label>
                            <input id="radio-choice-23" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <!--<a style="position: relative; float: right;" href="#globalPopup" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext" data-rel="popup" data-position-to="window">Info</a>-->
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off ui-last-child" for="radio-choice-24">Pain: Severe</label>
                            <input id="radio-choice-24" type="radio" value="5" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                        <div class="ui-radio">
                            <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off ui-last-child" for="radio-choice-91">No very severe signs</label>
                            <input id="radio-choice-91" type="radio" checked="checked"  value="0" name="radio-choice-2" data-corners="false" data-enhanced="true">
                        </div>
                    </div>
                </fieldset>
            </div>
            <p class="ui-btn-container-triage">
               <button class="ui-btn ui-btn-b ui-icon-check ui-btn-icon-left ui-shadow ui-corner-all" type="button">Next</button>
            </p>
        </form>
    </div>
</div>