/* fixed search panel */

#menu-indexlist-panel {
    display: none;
    padding-top: 1px;
    height: 100%;
    height: 100vh;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
}

#menu-indexlist-panel {
    display: none;
    height: 100%;
    height: 100vh;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
}

#menu-bookmarklist-panel {
    display: none;
    height: 100%;
    height: 100vh;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
}

/* listview styles */
#menu-indexlist-panel ul li ul li:first-child {
    padding-top: 10px;
}

#menu-indexlist-panel li {
    padding: 10px 0px 10px 6px;
    width: inherit;
}

#menu-indexlist-panel .menu-item-container {
    padding: 0px;
    cursor: pointer;
    vertical-align: middle;
}

#menu-indexlist-panel .menu-item-container-hilite {
    background-color: #5B88C6 !important;
}

#menu-indexlist-panel .menu-item-container .menu-item-text {
    color: #333;
    text-shadow: 0 0px 0 #111;
    font-weight: 500;
    white-space: normal !important;
    position: relative;
    padding-left: 0.25em; /*24px;*/
}

#menu-indexlist-panel .menu-item-container p {
    text-shadow: 0 0px 0 #111;
}

#menu-indexlist-panel .menu-item-container .ui-li-aside {
    margin: 0;
    position: absolute;
    right: 0.25em;
    text-align: right;
    top: 0.25em;
    background-color: Yellow;
}

/* remove text shadows */
.menu-item-container * {
    text-shadow: 0 0px 0 #f3f3f3 !important;
}