<div role="main" class="ui-content" id="register-panel">
    <iframe src="http://mdleditor.appenberg.co.za/register" width="100%" height="100%" frameborder="0">
        <p>Your mobile browser does not support iframes.</p>
    </iframe>
</div>
















<!--<div class="ui-corner-all custom-corners">
    <div class="ui-bar ui-bar-a">
        <h3>Registration for SAASP Antibiotic Guidelines</h3>
    </div>
    <div class="ui-body ui-body-a">
        <form>
            <label for="txtRegEmail" class="ui-hidden-accessible">Email:</label>
            <input name="regEmail" id="txtRegEmail" value="" placeholder="Email" type="text" data-theme="a">

            <label for="txtRegDeviceID" class="ui-hidden-accessible">Password:</label>
            <input name="regDeviceID" id="txtRegDeviceID" value="" placeholder="Device ID" data-theme="a" type="text">

            <select name="regProvince" id="selRegProvince" data-native-menu="false" data-theme="a">
                <option>Select your South African province:</option>
                <option value="ec">Eastern Cape</option>
                <option value="fs">Free State</option>
                <option value="ga">Gauteng</option>
                <option value="kz">KwaZulu-Natal</option>
                <option value="lm">Limpopo</option>
                <option value="mp">Mpumalanga</option>
                <option value="nc">Northern Cape</option>
                <option value="nw">North West</option>
                <option value="wc">Western Cape</option>
            </select>

            <select name="regRole" id="selRegRole" data-native-menu="false">
                <option>Select your professional role:</option>
                <option value="ec">Specialist</option>
                <option value="fs">General Practitioner</option>
                <option value="ga">Nurse</option>
                <option value="kz">Health worker</option>
                <option value="lm">Layman</option>
            </select>
            
            <div id="termsconditions">
                <fieldset data-role="controlgroup">
                    <legend>Vertical:</legend>
                    <input name="checkbox-v-2a" id="checkbox-v-2a" type="checkbox">
                    <label for="checkbox-v-2a">One</label>
                    <input name="checkbox-v-2b" id="checkbox-v-2b" type="checkbox">
                    <label for="checkbox-v-2b">Two</label>
                    <input name="checkbox-v-2c" id="checkbox-v-2c" type="checkbox">
                    <label for="checkbox-v-2c">Three</label>
                </fieldset>
            </div>
            
            <p style="margin-bottom: 5px;">
                <label for="txtTerms"><strong>Terms and Conditions:</strong></label>
                <div class="terms-scroll-wrapper">
                    <iframe src="templates/Terms.html"></iframe>
                </div>
            </p>
            
            <label>
                <input name="regTerms" id="chkRegTerms" type="checkbox">
                I agree to the Terms and Conditions
            </label>

            <button id="btnRegister" type="button" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Register</button>
        </form>
        
        <form class="full-width-slider" style="display: none;">
            <label for="sldRegDownload">Thank you for registering. Please wait for your download to finish.</label>
            <input name="regDownload" id="sldRegDownload" data-mini="true" min="0" max="100" value="0" type="range">
        </form>
    </div>
</div>
-->